body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.color-orange {
  color: rgb(82, 235, 21);
}
.color-red {
  color: rgb(226, 9, 64);
}
h1 {
  font-size: 40px;
}
.under-line {
  color: red;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 77%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(yellow, tomato);
  color: white;
  font: weight 700px;
  padding: 3px 10px;
  border-radius: 8px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
